#TabsToolbar:not([customizing]){
  visibility: collapse !important;
}
:root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container{
  display: flex !important;
}
:root[customtitlebar] #toolbar-menubar:is([autohide=""],[autohide="true"]) ~ #nav-bar{
  > .titlebar-buttonbox-container{
    display: flex !important;
  }
  :root[sizemode="normal"] & {
    > .titlebar-spacer{
      display: flex !important;
    }
  }
  :root[sizemode="maximized"] & {
    > .titlebar-spacer[type="post-tabs"]{
      display: flex !important;
    }
    @media -moz-pref("userchrome.force-window-controls-on-left.enabled"),
      (-moz-gtk-csd-reversed-placement),
      (-moz-platform: macos){
      > .titlebar-spacer[type="post-tabs"]{
        display: none !important;
      }
      > .titlebar-spacer[type="pre-tabs"]{
        display: flex !important;
      }
    }
  }
}
